name: Ruby

on:
  push:
    branches:
      - main

  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    continue-on-error: true

    strategy:
      matrix:
        ruby: ["jruby-10"]
        operating-system: [ubuntu-latest, windows-latest]

    name: Ruby ${{ matrix.ruby }} on ${{ matrix.operating-system }}
    runs-on: ${{ matrix.operating-system }}

    env:
      JAVA_OPTS: "-Djdk.io.File.enableADS=true --add-opens java.base/java.lang=org.jruby.dist"
      JRUBY_OPTS: --debug -Xnative.verbose=true

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rspec --format documentation spec/test_spec.rb
